body{
    background-color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    width: 100%;
}
.line{
    color: black;
    font-size: 45px;
}

.container{
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 280px;
    margin-left: -100px;  
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: auto;
    
}
.words{
    display: inline;
    text-indent: 10px;
}

.words span{
    animation: animate 12.5s linear infinite 0s;
    color: lightslategray;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}

.words span:nth-child(2){
    animation-delay: 2.5s;
}
.words span:nth-child(3){
    animation-delay: 5s;
}
.words span:nth-child(4){
    animation-delay: 7.5s;
}
.words span:nth-child(5){
    animation-delay: 10s;
}

@keyframes animate {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        transform: translateY(-50px);
    }
    10% {
        opacity: 1;
        transform: translateY(0px);
    }
    25% {
        opacity: 1;
        transform: translateY(0px);
    }
    30% {
        opacity: 0;
        transform: translateY(50px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}